/*--------------------------- Color variations ----------------------*/
/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
/* =================================== */
/*  Basic Style 
/* =================================== */
::-moz-selection {
  /* Code for Firefox */
  background-color: #cdb3b2;
  color: #fff; }

::selection {
  background-color: #cdb3b2;
  color: #fff; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300; }

body {
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.625em;
  position: relative; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

select {
  display: block; }

figure {
  margin: 0; }

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

iframe {
  border: 0; }

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0; }

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0; }

.card-panel {
  margin: 0;
  padding: 60px; }

/**
 *  Typography
 *
 **/
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  font-size: 1em;
  line-height: inherit; }

.gray-bg {
  background: #f9f9ff; }

h1, h2, h3,
h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.2em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600; }

.h1, .h2, .h3,
.h4, .h5, .h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #222222; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 18px; }

h5, .h5 {
  font-size: 16px; }

h6, .h6 {
  font-size: 14px;
  color: #222222; }

td, th {
  border-radius: 0px; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clear::before, .clear::after {
  content: " ";
  display: table; }
.clear::after {
  clear: both; }

.fz-11 {
  font-size: 11px; }

.fz-12 {
  font-size: 12px; }

.fz-13 {
  font-size: 13px; }

.fz-14 {
  font-size: 14px; }

.fz-15 {
  font-size: 15px; }

.fz-16 {
  font-size: 16px; }

.fz-18 {
  font-size: 18px; }

.fz-30 {
  font-size: 30px; }

.fz-48 {
  font-size: 48px !important; }

.fw100 {
  font-weight: 100; }

.fw300 {
  font-weight: 300; }

.fw400 {
  font-weight: 400 !important; }

.fw500 {
  font-weight: 500; }

.f700 {
  font-weight: 700; }

.fsi {
  font-style: italic; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.mt-30 {
  margin-top: 30px; }

.mt-35 {
  margin-top: 35px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mt-100 {
  margin-top: 100px; }

.mt-120 {
  margin-top: 120px; }

.mt-150 {
  margin-top: 150px; }

.ml-0 {
  margin-left: 0 !important; }

.ml-5 {
  margin-left: 5px !important; }

.ml-10 {
  margin-left: 10px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-30 {
  margin-left: 30px; }

.ml-50 {
  margin-left: 50px; }

.mr-0 {
  margin-right: 0 !important; }

.mr-5 {
  margin-right: 5px !important; }

.mr-15 {
  margin-right: 15px; }

.mr-10 {
  margin-right: 10px; }

.mr-20 {
  margin-right: 20px; }

.mr-30 {
  margin-right: 30px; }

.mr-50 {
  margin-right: 50px; }

.mb-0 {
  margin-bottom: 0px; }

.mb-0-i {
  margin-bottom: 0px !important; }

.mb-5 {
  margin-bottom: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-90 {
  margin-bottom: 90px; }

.mb-100 {
  margin-bottom: 100px; }

.pt-0 {
  padding-top: 0px; }

.pt-10 {
  padding-top: 10px; }

.pt-15 {
  padding-top: 15px; }

.pt-20 {
  padding-top: 20px; }

.pt-25 {
  padding-top: 25px; }

.pt-30 {
  padding-top: 30px; }

.pt-40 {
  padding-top: 40px; }

.pt-50 {
  padding-top: 50px; }

.pt-60 {
  padding-top: 60px; }

.pt-70 {
  padding-top: 70px; }

.pt-80 {
  padding-top: 80px; }

.pt-90 {
  padding-top: 90px; }

.pt-100 {
  padding-top: 100px; }

.pt-120 {
  padding-top: 120px; }

.pt-150 {
  padding-top: 150px; }

.pt-170 {
  padding-top: 170px; }

.pb-0 {
  padding-bottom: 0px; }

.pb-10 {
  padding-bottom: 10px; }

.pb-15 {
  padding-bottom: 15px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-25 {
  padding-bottom: 25px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-50 {
  padding-bottom: 50px; }

.pb-60 {
  padding-bottom: 60px; }

.pb-70 {
  padding-bottom: 70px; }

.pb-80 {
  padding-bottom: 80px; }

.pb-90 {
  padding-bottom: 90px; }

.pb-100 {
  padding-bottom: 100px; }

.pb-120 {
  padding-bottom: 120px; }

.pb-150 {
  padding-bottom: 150px; }

.pr-30 {
  padding-right: 30px; }

.pl-30 {
  padding-left: 30px; }

.pl-90 {
  padding-left: 90px; }

.p-40 {
  padding: 40px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.text-italic {
  font-style: italic; }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.transition {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.section-full {
  padding: 100px 0; }

.section-half {
  padding: 75px 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-rigth {
  text-align: right; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.flex-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end; }

.flex-top {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.flex-bottom {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }

.flex-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.display-table {
  display: table; }

.light {
  color: #fff; }

.dark {
  color: #000; }

.relative {
  position: relative; }

.overflow-hidden {
  overflow: hidden; }

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.container.fullwidth {
  width: 100%; }
.container.no-padding {
  padding-left: 0;
  padding-right: 0; }

.no-padding {
  padding: 0; }

.section-bg {
  background: #f9fafc; }

@media (max-width: 767px) {
  .no-flex-xs {
    display: block !important; } }

.row.no-margin {
  margin-left: 0;
  margin-right: 0; }

.preloader-area {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999; }
  .preloader-area .loader-box {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .preloader-area .loader {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-width: 30px;
    border-style: double;
    border-color: transparent #fff;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite; }

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
#back-top {
  position: fixed;
  right: 0;
  bottom: 30px;
  cursor: pointer;
  z-index: 9999999;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  #back-top a {
    background: #2c9ff0;
    display: block;
    text-align: center;
    width: 35px;
    height: 40px;
    border-radius: 5px 5px 0 0;
    padding: 12px 8px 8px 7px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    #back-top a i {
      font-size: 22px;
      color: #fff; }
    #back-top a:hover {
      box-shadow: 0 8px 12px rgba(156, 156, 156, 0.7); }

.back-top-animation {
  right: 20px !important;
  opacity: 1 !important;
  -webkit-transition: all 0.4s ease-in !important;
  -moz-transition: all 0.4s ease-in !important;
  -o-transition: all 0.4s ease-in !important;
  transition: all 0.4s ease-in !important; }

.section-gap {
  padding: 40px 0; }
  @media (max-width: 1024px) {
    .section-gap {
      padding: 60px 0; } }

.section-gap-top {
  padding-top: 150px; }
  @media (max-width: 1024px) {
    .section-gap-top {
      padding: 60px 0; } }

.section-gap-bottom-90 {
  padding-bottom: 130px; }
  @media (max-width: 1024px) {
    .section-gap-bottom-90 {
      padding-bottom: 30px; } }

.section-title {
  margin-bottom: 80px; }
  @media (max-width: 1024px) {
    .section-title {
      margin-bottom: 30px; } }
  .section-title h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 70px;
    text-transform: capitalize;
    position: relative;
    line-height: 44px; }
    @media (max-width: 1024px) {
      .section-title h2 {
        font-size: 40px;
        margin-bottom: 30px; } }
    @media (max-width: 1024px) {
      .section-title h2 {
        font-size: 30px; } }
    .section-title h2:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -35px;
      width: 10px;
      height: 10px;
      background: #cdb3b2;
      border-radius: 7px; }
      @media (max-width: 1024px) {
        .section-title h2:before {
          bottom: -15px; } }
    .section-title h2:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -31px;
      width: 100px;
      height: 2px;
      background: #cdb3b2; }
      @media (max-width: 1024px) {
        .section-title h2:after {
          bottom: -11px; } }
  .section-title p {
    max-width: 535px;
    margin-bottom: 0; }

.alert-msg {
  color: #008000; }

.primary-btn {
  color: #fff;
  padding: 0 52px;
  background: #cdb3b2;
  overflow: hidden;
  border-radius: 40px;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  border: 1px solid #cdb3b2;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  @media (max-width: 767px) {
    .primary-btn {
      padding: 0 35px; } }
  .primary-btn:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 13px 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    -moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    color: #fff; }
    @media (max-width: 767px) {
      .primary-btn:before {
        padding: 8px 0; } }
  .primary-btn:hover {
    background: #fff;
    border: 1px solid #cdb3b2; }
    .primary-btn:hover:before {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0); }
    .primary-btn:hover span {
      opacity: 1;
      color: #cdb3b2;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
      .primary-btn:hover span:nth-child(1) {
        -webkit-transition-delay: 0.01s;
        -moz-transition-delay: 0.01s;
        -o-transition-delay: 0.01s;
        transition-delay: 0.01s; }
      .primary-btn:hover span:nth-child(2) {
        -webkit-transition-delay: 0.05s;
        -moz-transition-delay: 0.05s;
        -o-transition-delay: 0.05s;
        transition-delay: 0.05s; }
      .primary-btn:hover span:nth-child(3) {
        -webkit-transition-delay: 0.1s;
        -moz-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        transition-delay: 0.1s; }
      .primary-btn:hover span:nth-child(4) {
        -webkit-transition-delay: 0.15s;
        -moz-transition-delay: 0.15s;
        -o-transition-delay: 0.15s;
        transition-delay: 0.15s; }
      .primary-btn:hover span:nth-child(5) {
        -webkit-transition-delay: 0.2s;
        -moz-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        transition-delay: 0.2s; }
      .primary-btn:hover span:nth-child(6) {
        -webkit-transition-delay: 0.25s;
        -moz-transition-delay: 0.25s;
        -o-transition-delay: 0.25s;
        transition-delay: 0.25s; }
      .primary-btn:hover span:nth-child(7) {
        -webkit-transition-delay: 0.3s;
        -moz-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s; }
      .primary-btn:hover span:nth-child(8) {
        -webkit-transition-delay: 0.35s;
        -moz-transition-delay: 0.35s;
        -o-transition-delay: 0.35s;
        transition-delay: 0.35s; }
      .primary-btn:hover span:nth-child(9) {
        -webkit-transition-delay: 0.4s;
        -moz-transition-delay: 0.4s;
        -o-transition-delay: 0.4s;
        transition-delay: 0.4s; }
      .primary-btn:hover span:nth-child(10) {
        -webkit-transition-delay: 0.45s;
        -moz-transition-delay: 0.45s;
        -o-transition-delay: 0.45s;
        transition-delay: 0.45s; }
      .primary-btn:hover span:nth-child(11) {
        -webkit-transition-delay: 0.5s;
        -moz-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
        transition-delay: 0.5s; }
      .primary-btn:hover span:nth-child(12) {
        -webkit-transition-delay: 0.55s;
        -moz-transition-delay: 0.55s;
        -o-transition-delay: 0.55s;
        transition-delay: 0.55s; }
      .primary-btn:hover span:nth-child(13) {
        -webkit-transition-delay: 0.6s;
        -moz-transition-delay: 0.6s;
        -o-transition-delay: 0.6s;
        transition-delay: 0.6s; }
      .primary-btn:hover span:nth-child(14) {
        -webkit-transition-delay: 0.65s;
        -moz-transition-delay: 0.65s;
        -o-transition-delay: 0.65s;
        transition-delay: 0.65s; }
      .primary-btn:hover span:nth-child(15) {
        -webkit-transition-delay: 0.7s;
        -moz-transition-delay: 0.7s;
        -o-transition-delay: 0.7s;
        transition-delay: 0.7s; }
      .primary-btn:hover span:nth-child(16) {
        -webkit-transition-delay: 0.75s;
        -moz-transition-delay: 0.75s;
        -o-transition-delay: 0.75s;
        transition-delay: 0.75s; }
      .primary-btn:hover span:nth-child(17) {
        -webkit-transition-delay: 0.8s;
        -moz-transition-delay: 0.8s;
        -o-transition-delay: 0.8s;
        transition-delay: 0.8s; }
      .primary-btn:hover span:nth-child(18) {
        -webkit-transition-delay: 0.85s;
        -moz-transition-delay: 0.85s;
        -o-transition-delay: 0.85s;
        transition-delay: 0.85s; }
      .primary-btn:hover span:nth-child(19) {
        -webkit-transition-delay: 0.95s;
        -moz-transition-delay: 0.95s;
        -o-transition-delay: 0.95s;
        transition-delay: 0.95s; }
      .primary-btn:hover span:nth-child(20) {
        -webkit-transition-delay: 1s;
        -moz-transition-delay: 1s;
        -o-transition-delay: 1s;
        transition-delay: 1s; }
  .primary-btn span {
    display: inline-block;
    padding: 12px 0;
    opacity: 0;
    color: #fff;
    -webkit-transform: translate3d(10, 10px, 0);
    -moz-transform: translate3d(10, 10px, 0);
    -ms-transform: translate3d(10, 10px, 0);
    -o-transform: translate3d(10, 10px, 0);
    transform: translate3d(10, 10px, 0);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    -moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
    @media (max-width: 767px) {
      .primary-btn span {
        padding: 8px 0; } }
  .primary-btn.white {
    border: 1px solid #2c9ff0;
    color: #cdb3b2;
    background: #fff; }
    .primary-btn.white span {
      color: #222222; }
    .primary-btn.white:before {
      color: #222222; }
    .primary-btn.white:hover {
      background: #2c9ff0;
      color: #fff; }
      .primary-btn.white:hover span {
        color: #fff; }

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.sample-text-area {
  background: #fff;
  padding: 100px 0 70px 0; }

.sample-text {
  margin-bottom: 0; }

.text-heading {
  margin-bottom: 30px;
  font-size: 24px; }

.typo-list {
  margin-bottom: 10px; }

@media (max-width: 767px) {
  .typo-sec {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .element-wrap {
    margin-top: 30px; } }

b, sup, sub, u, del {
  color: #cdb3b2; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em; }

.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
  color: #777777; }

.button-area {
  background: #fff; }
  .button-area .border-top-generic {
    padding: 70px 15px;
    border-top: 1px dotted #eee; }

.button-group-area .genric-btn {
  margin-right: 10px;
  margin-top: 10px; }
  .button-group-area .genric-btn:last-child {
    margin-right: 0; }

.genric-btn {
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  font-size: .8em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .genric-btn:focus {
    outline: none; }
  .genric-btn.e-large {
    padding: 0 40px;
    line-height: 50px; }
  .genric-btn.large {
    line-height: 45px; }
  .genric-btn.medium {
    line-height: 30px; }
  .genric-btn.small {
    line-height: 25px; }
  .genric-btn.radius {
    border-radius: 3px; }
  .genric-btn.circle {
    border-radius: 20px; }
  .genric-btn.arrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .genric-btn.arrow span {
      margin-left: 10px; }
  .genric-btn.default {
    color: #222222;
    background: #f9f9ff;
    border: 1px solid transparent; }
    .genric-btn.default:hover {
      border: 1px solid #f9f9ff;
      background: #fff; }
  .genric-btn.default-border {
    border: 1px solid #f9f9ff;
    background: #fff; }
    .genric-btn.default-border:hover {
      color: #222222;
      background: #f9f9ff;
      border: 1px solid transparent; }
  .genric-btn.primary {
    color: #fff;
    background: #cdb3b2;
    border: 1px solid transparent; }
    .genric-btn.primary:hover {
      color: #cdb3b2;
      border: 1px solid #cdb3b2;
      background: #fff; }
  .genric-btn.primary-border {
    color: #cdb3b2;
    border: 1px solid #cdb3b2;
    background: #fff; }
    .genric-btn.primary-border:hover {
      color: #fff;
      background: #cdb3b2;
      border: 1px solid transparent; }
  .genric-btn.success {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent; }
    .genric-btn.success:hover {
      color: #4cd3e3;
      border: 1px solid #4cd3e3;
      background: #fff; }
  .genric-btn.success-border {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff; }
    .genric-btn.success-border:hover {
      color: #fff;
      background: #4cd3e3;
      border: 1px solid transparent; }
  .genric-btn.info {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent; }
    .genric-btn.info:hover {
      color: #38a4ff;
      border: 1px solid #38a4ff;
      background: #fff; }
  .genric-btn.info-border {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff; }
    .genric-btn.info-border:hover {
      color: #fff;
      background: #38a4ff;
      border: 1px solid transparent; }
  .genric-btn.warning {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent; }
    .genric-btn.warning:hover {
      color: #f4e700;
      border: 1px solid #f4e700;
      background: #fff; }
  .genric-btn.warning-border {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff; }
    .genric-btn.warning-border:hover {
      color: #fff;
      background: #f4e700;
      border: 1px solid transparent; }
  .genric-btn.danger {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent; }
    .genric-btn.danger:hover {
      color: #f44a40;
      border: 1px solid #f44a40;
      background: #fff; }
  .genric-btn.danger-border {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff; }
    .genric-btn.danger-border:hover {
      color: #fff;
      background: #f44a40;
      border: 1px solid transparent; }
  .genric-btn.link {
    color: #222222;
    background: #f9f9ff;
    text-decoration: underline;
    border: 1px solid transparent; }
    .genric-btn.link:hover {
      color: #222222;
      border: 1px solid #f9f9ff;
      background: #fff; }
  .genric-btn.link-border {
    color: #222222;
    border: 1px solid #f9f9ff;
    background: #fff;
    text-decoration: underline; }
    .genric-btn.link-border:hover {
      color: #222222;
      background: #f9f9ff;
      border: 1px solid transparent; }
  .genric-btn.disable {
    color: #222222, 0.3;
    background: #f9f9ff;
    border: 1px solid transparent;
    cursor: not-allowed; }

.generic-blockquote {
  padding: 30px 50px 30px 30px;
  background: #f9f9ff;
  border-left: 2px solid #cdb3b2; }

@media (max-width: 991px) {
  .progress-table-wrap {
    overflow-x: scroll; } }

.progress-table {
  background: #f9f9ff;
  padding: 15px 0px 30px 0px;
  min-width: 800px; }
  .progress-table .serial {
    width: 11.83%;
    padding-left: 30px; }
  .progress-table .country {
    width: 28.07%; }
  .progress-table .visit {
    width: 19.74%; }
  .progress-table .percentage {
    width: 40.36%;
    padding-right: 50px; }
  .progress-table .table-head {
    display: flex; }
    .progress-table .table-head .serial, .progress-table .table-head .country, .progress-table .table-head .visit, .progress-table .table-head .percentage {
      color: #222222;
      line-height: 40px;
      text-transform: uppercase;
      font-weight: 500; }
  .progress-table .table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: flex; }
    .progress-table .table-row .serial, .progress-table .table-row .country, .progress-table .table-row .visit, .progress-table .table-row .percentage {
      display: flex;
      align-items: center; }
    .progress-table .table-row .country img {
      margin-right: 15px; }
    .progress-table .table-row .percentage .progress {
      width: 80%;
      border-radius: 0px;
      background: transparent; }
      .progress-table .table-row .percentage .progress .progress-bar {
        height: 5px;
        line-height: 5px; }
        .progress-table .table-row .percentage .progress .progress-bar.color-1 {
          background-color: #6382e6; }
        .progress-table .table-row .percentage .progress .progress-bar.color-2 {
          background-color: #e66686; }
        .progress-table .table-row .percentage .progress .progress-bar.color-3 {
          background-color: #f09359; }
        .progress-table .table-row .percentage .progress .progress-bar.color-4 {
          background-color: #73fbaf; }
        .progress-table .table-row .percentage .progress .progress-bar.color-5 {
          background-color: #73fbaf; }
        .progress-table .table-row .percentage .progress .progress-bar.color-6 {
          background-color: #6382e6; }
        .progress-table .table-row .percentage .progress .progress-bar.color-7 {
          background-color: #a367e7; }
        .progress-table .table-row .percentage .progress .progress-bar.color-8 {
          background-color: #e66686; }

.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px; }

.list-style {
  width: 14px;
  height: 14px; }

.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important; }
  .unordered-list li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #cdb3b2;
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%; }

.ordered-list {
  margin-left: 30px; }
  .ordered-list li {
    list-style-type: decimal-leading-zero;
    color: #cdb3b2;
    font-weight: 500;
    line-height: 1.82em !important; }
    .ordered-list li span {
      font-weight: 300;
      color: #777777; }

.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #cdb3b2;
  font-weight: 500;
  line-height: 1.82em !important; }
  .ordered-list-alpha li span {
    font-weight: 300;
    color: #777777; }

.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #cdb3b2;
  font-weight: 500;
  line-height: 1.82em !important; }
  .ordered-list-roman li span {
    font-weight: 300;
    color: #777777; }

.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }
  .single-input:focus {
    outline: none; }

.input-group-icon {
  position: relative; }
  .input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3; }
    .input-group-icon .icon i {
      color: #797979; }
  .input-group-icon .single-input {
    padding-left: 45px; }

.single-textarea {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
  height: 100px;
  resize: none; }
  .single-textarea:focus {
    outline: none; }

.single-input-primary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }
  .single-input-primary:focus {
    outline: none;
    border: 1px solid #cdb3b2; }

.single-input-accent {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }
  .single-input-accent:focus {
    outline: none;
    border: 1px solid #eb6b55; }

.single-input-secondary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }
  .single-input-secondary:focus {
    outline: none;
    border: 1px solid #f09359; }

.default-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .default-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer; }
    .default-switch input + label {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #cdb3b2;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
      cursor: pointer; }
    .default-switch input:checked + label {
      left: 19px; }

.single-element-widget {
  margin-bottom: 30px; }

.primary-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .primary-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .primary-switch input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
      .primary-switch input + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        border-radius: 8.5px;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
      .primary-switch input + label:after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #fff;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer; }
    .primary-switch input:checked + label:after {
      left: 19px; }
    .primary-switch input:checked + label:before {
      background: #cdb3b2; }

.confirm-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .confirm-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .confirm-switch input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
      .confirm-switch input + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        border-radius: 8.5px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        cursor: pointer; }
      .confirm-switch input + label:after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #fff;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer; }
    .confirm-switch input:checked + label:after {
      left: 19px; }
    .confirm-switch input:checked + label:before {
      background: #4cd3e3; }

.primary-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .primary-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .primary-checkbox input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .primary-checkbox input:checked + label {
      background: url(../img/elements/primary-check.png) no-repeat center center/cover;
      border: none; }

.confirm-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .confirm-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .confirm-checkbox input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .confirm-checkbox input:checked + label {
      background: url(../img/elements/success-check.png) no-repeat center center/cover;
      border: none; }

.disabled-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .disabled-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .disabled-checkbox input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .disabled-checkbox input:disabled {
      cursor: not-allowed;
      z-index: 3; }
    .disabled-checkbox input:checked + label {
      background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
      border: none; }

.primary-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .primary-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .primary-radio input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .primary-radio input:checked + label {
      background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
      border: none; }

.confirm-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .confirm-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .confirm-radio input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .confirm-radio input:checked + label {
      background: url(../img/elements/success-radio.png) no-repeat center center/cover;
      border: none; }

.disabled-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .disabled-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .disabled-radio input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .disabled-radio input:disabled {
      cursor: not-allowed;
      z-index: 3; }
    .disabled-radio input:checked + label {
      background: url(../img/elements/disabled-radio.png) no-repeat center center/cover;
      border: none; }

.default-select {
  height: 40px; }
  .default-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 20px;
    padding-right: 40px; }
    .default-select .nice-select .list {
      margin-top: 0;
      border: none;
      border-radius: 0px;
      box-shadow: none;
      width: 100%;
      padding: 10px 0 10px 0px; }
      .default-select .nice-select .list .option {
        font-weight: 300;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        line-height: 28px;
        min-height: 28px;
        font-size: 12px;
        padding-left: 20px; }
        .default-select .nice-select .list .option.selected {
          color: #cdb3b2;
          background: transparent; }
        .default-select .nice-select .list .option:hover {
          color: #cdb3b2;
          background: transparent; }
  .default-select .current {
    margin-right: 50px;
    font-weight: 300; }
  .default-select .nice-select::after {
    right: 20px; }

@media (max-width: 991px) {
  .left-align-p p {
    margin-top: 20px; } }

.form-select {
  height: 40px;
  width: 100%; }
  .form-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 45px;
    padding-right: 40px;
    width: 100%; }
    .form-select .nice-select .list {
      margin-top: 0;
      border: none;
      border-radius: 0px;
      box-shadow: none;
      width: 100%;
      padding: 10px 0 10px 0px; }
      .form-select .nice-select .list .option {
        font-weight: 300;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        line-height: 28px;
        min-height: 28px;
        font-size: 12px;
        padding-left: 45px; }
        .form-select .nice-select .list .option.selected {
          color: #cdb3b2;
          background: transparent; }
        .form-select .nice-select .list .option:hover {
          color: #cdb3b2;
          background: transparent; }
  .form-select .current {
    margin-right: 50px;
    font-weight: 300; }
  .form-select .nice-select::after {
    right: 20px; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.main-menu {
  padding-top: 20px; }

#header {
  padding: 0px 0px 20px 0px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997; }

#header.header-scrolled {
  position: fixed;
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
  background: #fff;
  transition: all 0.5s; }
  #header.header-scrolled #nav-menu-container {
    margin-left: auto; }
  #header.header-scrolled.dark {
    background: #222222; }

#logo {
  margin-left: 15px; }
  @media (max-width: 673px) {
    #logo {
      margin-left: 20px; } }

#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px; }

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #000;
  padding-left: 10px;
  border-left: 4px solid #cdb3b2; }

#header #logo img {
  padding: 0;
  margin: 0; }

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px; }

  #header #logo img {
    max-height: 40px; } }
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.9); }

.nav-menu li {
  position: relative;
  white-space: nowrap; }

.nav-menu > li {
  float: left; }

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block; }

.nav-menu ul ul {
  top: 0;
  left: 100%; }

.nav-menu ul li {
  min-width: 180px;
  text-align: left; }

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 28px; }

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal; }

.sf-arrows ul .sf-with-ul:after {
  content: "\f105"; }

/* Nav Meu Container */
#nav-menu-container {
  margin: 0;
  margin-left: 140px; }

.nav-menu a {
  padding: 0px;
  text-decoration: none;
  display: inline-block;
  color: #222222;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  outline: none;
  font-family: "Poppins", sans-serif; }
  .nav-menu a.active, .nav-menu a:hover {
    color: #cdb3b2 !important; }
.nav-menu.white a {
  color: #fff; }

.nav-menu > li {
  margin-right: 50px; }
  .nav-menu > li:last-child {
    margin-right: 0; }

.nav-menu ul {
  margin: 33px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff; }
  .nav-menu ul.dark {
    background: #222222; }

.nav-menu ul li {
  transition: 0.3s; }

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
  font-weight: 400; }

.nav-menu ul li:hover > a {
  color: #cdb3b2; }

.nav-menu ul ul {
  margin: 0; }

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 60px;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer; }
  @media (max-width: 800px) {
    #mobile-nav-toggle {
      top: 26px; } }

#mobile-nav-toggle i {
  color: #cdb3b2;
  font-weight: 900; }

@media (max-width: 800px) {
  #mobile-nav-toggle {
    display: inline; }

  #nav-menu-container {
    display: none; } }
/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s; }

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#mobile-nav ul li {
  position: relative; }

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 400; }

#mobile-nav ul li a:hover {
  color: #fff; }

#mobile-nav ul li li {
  padding-left: 30px; }

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff; }

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #cdb3b2; }

#mobile-nav ul .menu-has-children li a {
  text-transform: none; }

#mobile-nav ul .menu-item-active {
  color: #cdb3b2; }

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none; }

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden; }

body.mobile-nav-active #mobile-nav {
  left: 0; }

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff; }

.home-banner-area {
  background: url(../img/banner-bg.jpg) center;
  background-size: cover; }
  @media (max-width: 769px) {
    .home-banner-area .fullscreen {
      height: 600px !important; } }

.banner-area {
  background: #2c9ff0; }

.banner-content {
  text-align: left; }
  .banner-content h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 66px;
    margin-top: 30px;
    margin-bottom: 30px; }
    @media (max-width: 1024px) {
      .banner-content h1 {
        font-size: 45px; } }
    @media (max-width: 576px) {
      .banner-content h1 {
        font-size: 35px; } }
    @media (max-width: 325px) {
      .banner-content h1 {
        font-size: 32px; } }
  .banner-content .me {
    background: #2c9ff0;
    padding: 18px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    position: relative; }
    .banner-content .me:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -15px;
      width: 0;
      height: 0;
      border-left: 26px solid transparent;
      border-right: 0px solid transparent;
      border-top: 24px solid #2c9ff0; }
  .banner-content .designation {
    max-width: 390px;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px; }
    @media (max-width: 576px) {
      .banner-content .designation {
        font-size: 25px; } }
    .banner-content .designation .designer {
      color: #cdb3b2; }
    .banner-content .designation .developer {
      color: #2c9ff0; }

.banner-img {
  text-align: right;
  position: relative;
  left: 160px; }
  @media (max-width: 1480px) {
    .banner-img {
      left: 0px; } }
  @media (max-width: 991px) {
    .banner-img {
      display: none; } }
  @media (max-width: 1480px) {
    .banner-img img {
      max-width: 80%; } }

.brand-wrap {
  background: #e7e7e7;
  margin-top: -75px;
  border-radius: 100px;
  padding: 64px 14px;
  position: relative;
  z-index: 2;
  box-shadow: 0px 20px 50px rgba(153, 153, 153, 0.2);
  border: 1px solid rgba(214, 214, 214, 0.11); }
  @media (max-width: 991px) {
    .brand-wrap {
      padding: 40px 0;
      margin-top: -52px; } }
  .brand-wrap .owl-carousel .owl-item img {
    width: auto !important; }
  .brand-wrap .single-brand {
    text-align: center;
/*    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);*/
    opacity: .8;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .brand-wrap .single-brand:hover {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: grayscale(0%);
      opacity: 1; }

/*-------- Start About Area ------------*/
.about-area .section-title {
  margin-bottom: 0; }
  @media (max-width: 1024px) {
    .about-area .section-title {
      padding-bottom: 0px; } }
@media (max-width: 991px) {
  .about-area .about-left {
    display: none; } }
.about-area .primary-btn.white {
  margin-right: 10px; }
  @media (max-width: 1199px) {
    .about-area .primary-btn.white {
      margin-right: 0;
      margin-bottom: 15px; } }
  @media (max-width: 991px) {
    .about-area .primary-btn.white {
      margin-bottom: 0px; } }
  @media (max-width: 374px) {
    .about-area .primary-btn.white {
      margin-right: 0;
      margin-bottom: 15px; } }

/*-------- End About Area ------------*/
/*--------- Start Work Area -------------*/
.work-area {
  background: #f9f9ff; }
  @media (max-width: 1024px) {
    .work-area .row.mb-80 {
      margin-bottom: 30px; } }
  .work-area .section-title {
    margin-bottom: 0; }
  .work-area .filters {
    text-align: center; }
    @media (max-width: 991px) {
      .work-area .filters {
        margin-top: 40px; } }
    .work-area .filters ul {
      padding: 0;
      text-align: right; }
      @media (max-width: 991px) {
        .work-area .filters ul {
          text-align: left; } }
      .work-area .filters ul li {
        list-style: none;
        display: inline-block;
        padding: 0 15px;
        cursor: pointer;
        position: relative;
        text-transform: capitalize;
        font-size: 13px; }
        .work-area .filters ul li:last-child {
          padding-right: 0; }
        @media (max-width: 991px) {
          .work-area .filters ul li:first-child {
            padding-left: 0; } }
        .work-area .filters ul li.active, .work-area .filters ul li:hover {
          color: #cdb3b2; }
  .work-area .filters-content .show {
    opacity: 1;
    visibility: visible;
    transition: all 350ms; }
  .work-area .filters-content .hide {
    opacity: 0;
    visibility: hidden;
    transition: all 350ms; }
  .work-area .filters-content img {
    border-radius: 10px;
    width: 100%; }

.single-work {
  border-radius: 5px;
  margin-bottom: 30px; }
  .single-work .thumb .overlay-bg {
    background: #2c9ff0;
    opacity: 0;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .single-work .thumb .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden; }
  .single-work .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .single-work .middle h4 {
      font-size: 21px;
      color: #fff; }
    .single-work .middle .cat {
      font-size: 15px;
      color: #fff; }
  .single-work:hover .thumb .overlay-bg {
    opacity: .80; }
  .single-work:hover .middle {
    opacity: 1; }

/*--------- End Work Area -------------*/
.job-area.offwhite {
  background: #f9f9ff; }

.single-job {
  background-color: #f9f9ff;
  padding: 40px 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  @media (max-width: 576px) {
    .single-job .top-sec {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .single-job .top-left h4 {
    color: #000;
    font-size: 21px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-weight: 700; }
    @media (max-width: 1199px) {
      .single-job .top-left h4 {
        font-size: 18px; } }
  @media (max-width: 576px) {
    .single-job .bottom-sec {
      margin-top: 30px; } }
  .single-job .primary-btn {
    padding: 0 28px;
    background: #fff;
    color: #222222;
    border: 1px solid #2c9ff0; }
    @media (max-width: 1199px) {
      .single-job .primary-btn {
        padding: 0 15px; } }
    .single-job .primary-btn span {
      color: #222222; }
    .single-job .primary-btn:before {
      color: #222222; }
  .single-job:hover {
    background: #2c9ff0;
    cursor: pointer;
    color: #fff; }
    .single-job:hover .top-left h4 {
      color: #fff; }

.service-area {
  background: #f9f9ff; }
  .service-area.white {
    background: #fff; }
  .service-area .col-lg-3.col-md-6:nth-child(1) .single-service {
    background: #a78196;}
  .service-area .col-lg-3.col-md-6:nth-child(2) .single-service {
    background:#e2a599;  }
  .service-area .col-lg-3.col-md-6:nth-child(3) .single-service {
    background: #5d6099; }
  .service-area .col-lg-3.col-md-6:nth-child(4) .single-service {
    background: #594b49; }

.single-service {
  color: #fff;
  padding: 20px 15px;
  border-radius: 5px;
  text-align: justify;
  min-height: 470px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  @media (max-width: 1199px) {
    .single-service {
      padding: 30px 15px;
       } }
  @media (max-width: 991px) {
    .single-service {
      margin-bottom: 30px;
      padding: 20px 15px; } }
  @media (max-width: 576px) {
    .single-service {
      text-align: center; } }
  .single-service .lnr {
    font-size: 36px;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .single-service h4 {
    color: #fff;
    font-size: 21px;
    line-height: 27px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px; }
    .single-service h4 span {
      display: block; }
      @media (max-width: 767px) {
        .single-service h4 span {
          display: inline-block; } }
  .single-service:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px); }
    .single-service p {
     
  }
.testimonials_area {
  position: relative; }
  .testimonials_area .owl-controls {
    text-align: center; }
    @media (max-width: 767px) {
      .testimonials_area .owl-controls {
        display: none; } }
    .testimonials_area .owl-controls .owl-nav {
      position: relative;
      top: 29px; }
      .testimonials_area .owl-controls .owl-nav .owl-prev,
      .testimonials_area .owl-controls .owl-nav .owl-next {
        display: inline-block;
        margin-right: 31px;
        color: #000; }
      .testimonials_area .owl-controls .owl-nav .owl-prev {
        margin-right: 80px; }
      .testimonials_area .owl-controls .owl-nav .owl-next {
        margin-left: 80px;
        margin-right: 0; }
    .testimonials_area .owl-controls .owl-dots .owl-dot {
      height: 4px;
      width: 40px;
      background: #eeeeee;
      display: inline-block;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .testimonials_area .owl-controls .owl-dots .owl-dot:last-child {
        margin-right: 0px; }
      .testimonials_area .owl-controls .owl-dots .owl-dot:hover, .testimonials_area .owl-controls .owl-dots .owl-dot.active {
        background: #cdb3b2; }

.testi_slider {
  margin: auto; }
  .testi_slider .testi_item {
    text-align: center; }
    .testi_slider .testi_item img {
      width: auto;
      margin: auto; }

.testi_item {
  margin-bottom: 50px; }
  @media (max-width: 767px) {
    .testi_item {
      margin-bottom: 0; } }
  .testi_item h4 {
    font-size: 21px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px; }
  .testi_item .list {
    margin-bottom: 35px; }
    .testi_item .list li {
      display: inline-block; }
      .testi_item .list li a {
        color: #ffc000;
        font-size: 14px; }
  .testi_item p {
    max-width: 570px;
    margin: auto; }

.contact-area {
  background: #cdb3b2; }
  @media (max-width: 1024px) {
    .contact-area .row.mt-80 {
      margin-top: 40px; } }
  .contact-area .contact-title {
    color: #fff;
    text-align: center; }
    .contact-area .contact-title h2 {
      color: #fff;
      position: relative;
      margin-bottom: 45px;
      font-size: 48px;
      line-height: 45px; }
      @media (max-width: 1024px) {
        .contact-area .contact-title h2 {
          font-size: 40px;
          margin-bottom: 30px; } }
      @media (max-width: 576px) {
        .contact-area .contact-title h2 {
          font-size: 30px; } }
      .contact-area .contact-title h2:before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -15px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 100px;
        height: 2px;
        background: #fff; }
        @media (max-width: 1024px) {
          .contact-area .contact-title h2:before {
            bottom: -5px; } }
      .contact-area .contact-title h2:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -19px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        background: #fff;
        width: 10px;
        height: 10px;
        border-radius: 8px; }
        @media (max-width: 1024px) {
          .contact-area .contact-title h2:after {
            bottom: -9px; } }
    .contact-area .contact-title p {
      max-width: 540px;
      margin: 0 auto; }
  .contact-area .primary-btn {
    background: #fff;
    color: #000;
    border: 1px solid #fff; }
    .contact-area .primary-btn:before {
      color: #000; }
    .contact-area .primary-btn span {
      color: #000; }
    .contact-area .primary-btn:hover {
      background: transparent; }
      .contact-area .primary-btn:hover span {
        color: #fff; }

.contact-box {
  text-align: center; }
  .contact-box h4 {
    font-size: 21px;
    font-weight: 700;
    color: #fff; }

.whole-wrap {
  background-color: #fff; }

.generic-banner {
  margin-top: 60px;
  background-color: #cdb3b2;
  text-align: center; }
  .generic-banner .height {
    height: 600px; }
    @media (max-width: 767.98px) {
      .generic-banner .height {
        height: 400px; } }
  .generic-banner .generic-banner-content h2 {
    line-height: 1.2em;
    margin-bottom: 20px; }
    @media (max-width: 991.98px) {
      .generic-banner .generic-banner-content h2 br {
        display: none; } }
  .generic-banner .generic-banner-content p {
    text-align: center;
    font-size: 16px; }
    @media (max-width: 991.98px) {
      .generic-banner .generic-banner-content p br {
        display: none; } }

.generic-content h1 {
  font-weight: 600; }

.about-generic-area {
  background: #fff; }
  .about-generic-area p {
    margin-bottom: 20px; }

.white-bg {
  background: #fff; }

.section-top-border {
  padding: 50px 0;
  border-top: 1px dotted #eee; }

.switch-wrap {
  margin-bottom: 10px; }
  .switch-wrap p {
    margin: 0; }

.link-nav {
  margin-top: 10px;
  margin-bottom: 0px; }

.about-content {
  margin-top: 90px;
  margin-bottom: 60px;
  text-align: center; }
  @media (max-width: 767px) {
    .about-content {
      margin-top: 100px; } }
  .about-content h1 {
    font-size: 60px;
    font-weight: 700; }
    @media (max-width: 767px) {
      .about-content h1 {
        font-size: 35px; } }
  .about-content .box {
    border: 2px solid #fff;
    padding: 10px 18px;
    border-radius: 25px;
    display: inline-block; }
    @media (max-width: 767px) {
      .about-content .box {
        padding: 7px 15px; } }
    .about-content .box a {
      color: #fff;
      font-size: 15px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      padding-left: 16px;
      padding-right: 16px;
      border-right: 2px solid #fff; }
      @media (max-width: 380px) {
        .about-content .box a {
          font-size: 13px; } }
      .about-content .box a:first-child {
        padding-left: 0; }
      .about-content .box a:last-child {
        border-right: 0;
        padding-right: 0; }
      .about-content .box a:hover {
        color: #cdb3b2; }

.portfolio_details_inner .row {
  margin-bottom: 65px; }
  @media (max-width: 480px) {
    .portfolio_details_inner .row {
      margin-bottom: 30px; } }
.portfolio_details_inner p {
  margin-bottom: 30px;
  font-size: 14px; }
  .portfolio_details_inner p:last-child {
    margin-bottom: 0px; }
@media (max-width: 991px) {
  .portfolio_details_inner .portfolio_right_text {
    margin-top: 0px; } }
@media (max-width: 576px) {
  .portfolio_details_inner .portfolio_right_text {
    margin-top: 50px; } }
.portfolio_details_inner .portfolio_right_text h4 {
  color: #222222;
  font-size: 21px;
  margin-bottom: 18px;
  font-weight: 700; }
.portfolio_details_inner .portfolio_right_text p {
  margin-bottom: 25px;
  font-size: 14px; }
.portfolio_details_inner .portfolio_right_text .list li {
  margin-bottom: 7px;
  font-weight: normal;
  font-size: 14px; }
  .portfolio_details_inner .portfolio_right_text .list li span {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    width: 97px;
    display: inline-block; }
  .portfolio_details_inner .portfolio_right_text .list li:last-child {
    margin-bottom: 0px; }
  .portfolio_details_inner .portfolio_right_text .list li i {
    color: #f1cd09; }

.social_details {
  margin-top: 50px; }
  @media (max-width: 480px) {
    .social_details {
      margin-top: 20px; } }
  .social_details li {
    display: inline-block;
    margin-right: 14px; }
    .social_details li a {
      font-size: 14px; }
      .social_details li a i {
        color: #000 !important; }
        .social_details li a i:hover {
          color: #cdb3b2 !important; }
    .social_details li:last-child {
      margin-right: 0px; }

.contact-page-area .map-wrap {
  margin-top: 80px; }
  @media (max-width: 991px) {
    .contact-page-area .map-wrap {
      margin-top: 40px; } }
.contact-page-area .contact-btns {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 40px;
  color: #fff;
  margin-bottom: 30px; }
  .contact-page-area .contact-btns:hover {
    color: #fff; }
@media (max-width: 991px) {
  .contact-page-area .form-area .form-group-top {
    margin-bottom: 0px; } }
.contact-page-area .form-area input {
  padding: 15px; }
.contact-page-area .form-area input,
.contact-page-area .form-area textarea {
  border-radius: 0;
  font-size: 12px; }
  .contact-page-area .form-area input:focus,
  .contact-page-area .form-area textarea:focus {
    border-color: #ced4da;
    box-shadow: none; }
.contact-page-area .form-area textarea {
  height: 154px;
  margin-top: 0px; }
.contact-page-area .form-area .primary-btn {
  padding: 0 20px;
  font-size: 13px; }
.contact-page-area .form-area ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-weight: 500; }
.contact-page-area .form-area :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-weight: 500; }
.contact-page-area .form-area ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-weight: 500; }
.contact-page-area .form-area :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-weight: 500; }
.contact-page-area .form-area ::-ms-input-placeholder {
  /* Microsoft Edge */
  font-weight: 500; }
.contact-page-area .single-contact-address {
  margin-bottom: 10px; }
  .contact-page-area .single-contact-address h5 {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px; }
  .contact-page-area .single-contact-address .lnr {
    font-size: 30px;
    font-weight: 500;
    color: #cdb3b2;
    margin-right: 30px; }

/*
################
               Start Blog Home  Page style
################
*/
.blog-home-banner {
  background: url(../img/blog/blog-home-banner.jpg) bottom;
  background-size: cover;
  padding: 130px 0px; }
  .blog-home-banner .primary-btn {
    border-radius: 0px;
    background: #fff;
    color: #000;
    font-weight: 600;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .blog-home-banner .primary-btn:hover {
      background: transparent;
      border-color: #fff;
      color: #fff; }
  .blog-home-banner .overlay-bg {
    background: rgba(0, 0, 0, 0.5); }

.blog-page {
  background: #f9f9ff; }

.blog-header-content h1 {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 414px) {
    .blog-header-content h1 {
      font-size: 30px; } }
.blog-header-content p {
  margin: 20px 0px; }

.top-category-widget-area .single-cat-widget {
  position: relative;
  text-align: center; }
  .top-category-widget-area .single-cat-widget .overlay-bg {
    background: rgba(0, 0, 0, 0.85);
    margin: 7%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .top-category-widget-area .single-cat-widget img {
    width: 100%; }
  .top-category-widget-area .single-cat-widget .content-details {
    top: 32%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    bottom: 0px;
    position: absolute; }
    .top-category-widget-area .single-cat-widget .content-details h4 {
      color: #fff; }
    .top-category-widget-area .single-cat-widget .content-details span {
      display: inline-block;
      background: #fff;
      width: 60%;
      height: 1%; }
  .top-category-widget-area .single-cat-widget:hover .overlay-bg {
    background: rgba(228, 84, 71, 0.85);
    margin: 7%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  @media (max-width: 991px) {
    .top-category-widget-area .single-cat-widget {
      margin-bottom: 50px; } }

.post-content-area .single-post {
  margin-bottom: 50px; }
  .post-content-area .single-post .meta-details {
    text-align: right;
    margin-top: 35px; }
    @media (max-width: 767px) {
      .post-content-area .single-post .meta-details {
        text-align: left; } }
    .post-content-area .single-post .meta-details .tags {
      margin-bottom: 30px; }
      .post-content-area .single-post .meta-details .tags li {
        display: inline-block;
        font-size: 14px; }
        .post-content-area .single-post .meta-details .tags li a {
          color: #000;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
          .post-content-area .single-post .meta-details .tags li a:hover {
            color: #cdb3b2; }
    @media (max-width: 1024px) {
      .post-content-area .single-post .meta-details {
        margin-top: 0px; } }
  .post-content-area .single-post .user-name a,
  .post-content-area .single-post .date a,
  .post-content-area .single-post .view a,
  .post-content-area .single-post .comments a {
    color: #777777;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .post-content-area .single-post .user-name a:hover,
    .post-content-area .single-post .date a:hover,
    .post-content-area .single-post .view a:hover,
    .post-content-area .single-post .comments a:hover {
      color: #cdb3b2; }
  .post-content-area .single-post .user-name .lnr,
  .post-content-area .single-post .date .lnr,
  .post-content-area .single-post .view .lnr,
  .post-content-area .single-post .comments .lnr {
    font-weight: 900;
    color: #000; }
  .post-content-area .single-post .feature-img img {
    width: 100%; }
  .post-content-area .single-post .posts-title h3 {
    margin: 20px 0px;
    font-weight: 700; }
  .post-content-area .single-post .excert {
    margin-bottom: 20px; }
  .post-content-area .single-post .primary-btn {
    background: #fff !important;
    color: #222222;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 0px !important;
    padding: 0 32px;
    border: 0; }
    .post-content-area .single-post .primary-btn:before {
      color: #222222;
      padding: 6px 0; }
    .post-content-area .single-post .primary-btn span {
      padding: 6px 0; }
    .post-content-area .single-post .primary-btn:hover {
      background: #cdb3b2 !important;
      color: #fff !important; }
      .post-content-area .single-post .primary-btn:hover:before {
        color: #fff; }
      .post-content-area .single-post .primary-btn:hover span {
        color: #fff; }

.blog-pagination {
  padding-top: 60px;
  padding-bottom: 120px; }
  .blog-pagination .page-link {
    border-radius: 0; }
  .blog-pagination .page-item {
    border: none; }

.page-link {
  background: transparent;
  font-weight: 400; }

.blog-pagination .page-item.active .page-link {
  background-color: #cdb3b2;
  border-color: transparent; }

.blog-pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #777777;
  border: none; }

.blog-pagination .page-link .lnr {
  font-weight: 600; }

.blog-pagination .page-item:last-child .page-link,
.blog-pagination .page-item:first-child .page-link {
  border-radius: 0; }

.blog-pagination .page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #cdb3b2;
  border-color: #eee; }

.widget-wrap {
  background: #fafaff;
  padding: 20px 0px;
  border: 1px solid #eee; }
  @media (max-width: 991px) {
    .widget-wrap {
      margin-top: 50px; } }
  .widget-wrap .single-sidebar-widget {
    margin: 30px 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee; }
    .widget-wrap .single-sidebar-widget:last-child {
      border-bottom: none;
      margin-bottom: 0px; }
  .widget-wrap .search-widget form.search-form input[type=text] {
    color: #fff;
    padding: 10px 22px;
    font-size: 14px;
    border: none;
    float: left;
    width: 80%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background: #cdb3b2; }
  .widget-wrap .search-widget ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff; }
  .widget-wrap .search-widget ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff; }
  .widget-wrap .search-widget :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff; }
  .widget-wrap .search-widget :-moz-placeholder {
    /* Firefox 18- */
    color: #fff; }
  .widget-wrap .search-widget form.search-form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #cdb3b2;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px; }
  .widget-wrap .search-widget form.search-form::after {
    content: "";
    clear: both;
    display: table; }
  .widget-wrap .user-info-widget {
    text-align: center; }
    .widget-wrap .user-info-widget a h4 {
      margin-top: 40px;
      margin-bottom: 5px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .widget-wrap .user-info-widget .social-links li {
      display: inline-block;
      margin-bottom: 10px; }
      .widget-wrap .user-info-widget .social-links li a {
        color: #000;
        padding: 10px;
        font-size: 14px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .widget-wrap .user-info-widget .social-links li a:hover {
          color: #cdb3b2; }
  .widget-wrap .popular-post-widget .popular-title {
    background: #cdb3b2;
    color: #fff;
    text-align: center;
    padding: 12px 0px; }
  .widget-wrap .popular-post-widget .popular-post-list {
    margin-top: 30px; }
    .widget-wrap .popular-post-widget .popular-post-list .thumb img {
      width: 100%; }
  .widget-wrap .popular-post-widget .single-post-list {
    margin-bottom: 20px; }
    .widget-wrap .popular-post-widget .single-post-list .details {
      margin-left: 12px; }
      .widget-wrap .popular-post-widget .single-post-list .details h6 {
        font-weight: 600;
        margin-bottom: 10px; }
      .widget-wrap .popular-post-widget .single-post-list .details p {
        margin-bottom: 0px; }
  .widget-wrap .ads-widget img {
    width: 100%; }
  .widget-wrap .post-category-widget .category-title {
    background: #cdb3b2;
    color: #fff;
    text-align: center;
    padding: 12px 0px; }
  .widget-wrap .post-category-widget .cat-list li {
    padding-top: 15px;
    padding-bottom: 8px;
    border-bottom: 2px dotted #eee;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .widget-wrap .post-category-widget .cat-list li p {
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 0px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .widget-wrap .post-category-widget .cat-list li a {
      color: #777777; }
    .widget-wrap .post-category-widget .cat-list li:hover {
      border-color: #cdb3b2; }
      .widget-wrap .post-category-widget .cat-list li:hover p {
        color: #cdb3b2; }
  .widget-wrap .newsletter-widget .newsletter-title {
    background: #cdb3b2;
    color: #fff;
    text-align: center;
    padding: 12px 0px; }
  .widget-wrap .newsletter-widget .col-autos {
    width: 100%; }
  .widget-wrap .newsletter-widget p {
    text-align: center;
    margin: 20px 0px; }
  .widget-wrap .newsletter-widget .bbtns {
    background: #cdb3b2;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 7px 20px;
    border-radius: 0; }
  .widget-wrap .newsletter-widget .input-group-text {
    background: #fff;
    border-radius: 0px;
    vertical-align: top; }
    .widget-wrap .newsletter-widget .input-group-text i {
      color: #ccc;
      margin-top: -1px; }
  .widget-wrap .newsletter-widget .form-control {
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px;
    font-size: 13px;
    color: #ccc;
    padding: 9px;
    padding-left: 0px; }
    .widget-wrap .newsletter-widget .form-control:focus {
      box-shadow: none;
      border-color: #ccc; }
  .widget-wrap .newsletter-widget ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 13px;
    color: #ccc; }
  .widget-wrap .newsletter-widget ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 13px;
    color: #ccc; }
  .widget-wrap .newsletter-widget :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 13px;
    color: #ccc; }
  .widget-wrap .newsletter-widget :-moz-placeholder {
    /* Firefox 18- */
    font-size: 13px;
    color: #ccc; }
  .widget-wrap .newsletter-widget .text-bottom {
    margin-bottom: 0px; }
  .widget-wrap .tag-cloud-widget .tagcloud-title {
    background: #cdb3b2;
    color: #fff;
    text-align: center;
    padding: 12px 0px;
    margin-bottom: 30px; }
  .widget-wrap .tag-cloud-widget ul li {
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 4px 14px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .widget-wrap .tag-cloud-widget ul li:hover {
      background: #cdb3b2; }
      .widget-wrap .tag-cloud-widget ul li:hover a {
        color: #fff; }
    .widget-wrap .tag-cloud-widget ul li a {
      font-size: 12px;
      color: black; }

/*
################
               End Blog Home  Page style
################
*/
/*
################
               Start Blog Details  Page style
################
*/
.single-post-area .meta-details {
  margin-top: 20px !important; }
.single-post-area .social-links li {
  display: inline-block;
  margin-bottom: 10px; }
  .single-post-area .social-links li a {
    color: #000;
    padding: 7px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .single-post-area .social-links li a:hover {
      color: #cdb3b2; }
.single-post-area .quotes {
  margin-top: 20px;
  padding: 30px;
  background-color: white;
  box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1); }
.single-post-area .arrow {
  position: absolute; }
  .single-post-area .arrow .lnr {
    font-size: 20px;
    font-weight: 600; }
.single-post-area .thumb .overlay-bg {
  background: rgba(0, 0, 0, 0.8); }
.single-post-area .navigation-area {
  border-top: 1px solid #eee;
  padding-top: 30px; }
  .single-post-area .navigation-area .nav-left {
    text-align: left; }
    .single-post-area .navigation-area .nav-left .thumb {
      margin-right: 20px;
      background: #000; }
      .single-post-area .navigation-area .nav-left .thumb img {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
    .single-post-area .navigation-area .nav-left .lnr {
      margin-left: 20px;
      opacity: 0;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .single-post-area .navigation-area .nav-left:hover .lnr {
      opacity: 1; }
    .single-post-area .navigation-area .nav-left:hover .thumb img {
      opacity: .5; }
    @media (max-width: 767px) {
      .single-post-area .navigation-area .nav-left {
        margin-bottom: 30px; } }
  .single-post-area .navigation-area .nav-right {
    text-align: right; }
    .single-post-area .navigation-area .nav-right .thumb {
      margin-left: 20px;
      background: #000; }
      .single-post-area .navigation-area .nav-right .thumb img {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
    .single-post-area .navigation-area .nav-right .lnr {
      margin-right: 20px;
      opacity: 0;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .single-post-area .navigation-area .nav-right:hover .lnr {
      opacity: 1; }
    .single-post-area .navigation-area .nav-right:hover .thumb img {
      opacity: .5; }

.comments-area {
  background: #fafaff;
  border: 1px solid #eee;
  padding: 50px 20px;
  margin-top: 50px; }
  @media (max-width: 414px) {
    .comments-area {
      padding: 50px 8px; } }
  .comments-area h4 {
    text-align: center;
    margin-bottom: 50px; }
  .comments-area a {
    color: #000; }
  .comments-area .comment-list {
    padding-bottom: 30px; }
    .comments-area .comment-list:last-child {
      padding-bottom: 0px; }
    .comments-area .comment-list.left-padding {
      padding-left: 25px; }
    @media (max-width: 413px) {
      .comments-area .comment-list .single-comment h5 {
        font-size: 12px; }
      .comments-area .comment-list .single-comment .date {
        font-size: 11px; }
      .comments-area .comment-list .single-comment .comment {
        font-size: 10px; } }
  .comments-area .thumb {
    margin-right: 20px; }
  .comments-area .date {
    font-size: 13px;
    color: #cccccc; }
  .comments-area .comment {
    color: #777777; }
  .comments-area .btn-reply {
    background-color: #fff;
    color: #000;
    padding: 8px 30px;
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .comments-area .btn-reply:hover {
      background-color: #cdb3b2;
      color: #fff; }

.comment-form {
  text-align: center;
  background: #fafaff;
  border: 1px solid #eee;
  padding: 50px 20px;
  margin-top: 50px; }
  .comment-form h4 {
    text-align: center;
    margin-bottom: 50px; }
  .comment-form .name {
    padding-left: 0px; }
    @media (max-width: 991px) {
      .comment-form .name {
        padding-right: 0px; } }
  .comment-form .email {
    padding-right: 0px; }
    @media (max-width: 991px) {
      .comment-form .email {
        padding-left: 0px; } }
  .comment-form .form-control {
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 0px;
    width: 100%;
    font-size: 13px;
    color: #777777; }
    .comment-form .form-control:focus {
      box-shadow: none; }
  .comment-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 13px;
    color: #777; }
  .comment-form ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 13px;
    color: #777; }
  .comment-form :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 13px;
    color: #777; }
  .comment-form :-moz-placeholder {
    /* Firefox 18- */
    font-size: 13px;
    color: #777; }

/*
################
               End Blog Details  Page style
################
*/
.footer-area {
  padding: 100px 0; }
  @media (max-width: 1024px) {
    .footer-area {
      padding: 60px 0; } }
  .footer-area .footer-logo {
    text-align: center; }
    .footer-area .footer-logo h4 {
      font-size: 21px;
      color: #777777;
      font-weight: 700;
      margin-top: 48px; }
   .footer-social {
    text-align: center;
    margin: 25px 0px 50px; }
    @media (max-width: 1024px) {
      .footer-area .footer-social {
        margin: 15px 0px 30px; } }
    .footer-area .footer-social a {
      padding: 0 20px; }
      .footer-area .footer-social a i {
        color: #cccccc;
        font-size: 36px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        @media (max-width: 576px) {
          .footer-area .footer-social a i {
            font-size: 25px; } }
        .footer-area .footer-social a i:hover {
          color: #cdb3b2; }
  .footer-area .footer-bottom {
    text-align: center; }
    .footer-area .footer-bottom p {
      margin-bottom: 0; }
    .footer-area .footer-bottom a {
      color: #cdb3b2; }
      .footer-area .copyright {
        margin: 0;
        padding: 0;
        font-size: 0.9em;
        list-style: none;
      }
      
      .footer-area .copyright li {
        display: inline-block;
        margin: 0 0 0 0.45em;
        padding: 0 0 0 0.85em;
        border-left: solid 1px rgba(255, 255, 255, 0.5);
        line-height: 1;
      }
      
      .footer-area .copyright li:first-child {
        border-left: 0;
      }
      .services-type {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
      }
      .services-type:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
      .services-type  li {
        display: inline-block;
        padding: 0 .3125rem;
        margin: 0 .625rem;
        position: relative;
      }
      .services-type  li:after {
        content: "";
        position: absolute;
        top: 0;
        right: -.625rem;
        height: 100%;
        width: .0625rem;
        background: #8598da;
      }

      .portfolio_details_inner .single-service {
        color: #777777;
      }
      .portfolio_details_inner .image.main {
        /* display: block; */
        margin: 0 0 3em 0;
        width: 100%;
    }
    .portfolio_details_inner .col-lg-6 img {
      width: 100%;
  }
  .smpmobile .col-lg-6 img {
    width: 31%;
}


.preloader-area .spinner {height: 30px;left: 50%;margin-left: -15px;margin-top: -15px;position: relative;top: 50%;width: 30px;}
.preloader-area .pre-bounce1, .preloader-area .pre-bounce2 {-webkit-animation: 2s ease 0s normal none infinite bounce;animation: 2s ease 0s normal none infinite bounce;background-color: #de4939;border-radius: 50%;height: 100%;left: 0;opacity: .6;position: absolute;top: 0;width: 100%;}
.preloader-area .pre-bounce2 {-webkit-animation-delay: -.5s;animation-delay: -.5s;}
/*# sourceMappingURL=main.css.map */
