
//    Font Family

$primary-font	: 'Poppins', sans-serif;
$text-font      : 'Roboto', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #e45447;
$primary-color2 : #cdb3b2;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #000;






